.depth-chart-container {
  height: 100%;
  width: 100%;
}

.depth-chart-canvas-container {
  height: 100%;
  position: relative;
  width: 100%;
  background-color: var(--pennant-background-surface-color, #0a0a0a);
  overscroll-behavior: contain;
}

.depth-chart-canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;
}
